
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

*{
    scroll-behavior: smooth;
   margin:0;
   padding:0;
    overflow-x: hidden;
    
}
body{
    box-sizing: content-box;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}
#navbar{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    margin-top:.2%;
    
    width:100vw;
    height:8vh;
    position:fixed;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    box-shadow: 2px 2px 5px 1px black;
    z-index:15;

}

.links{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin-right:4%;
    color:white;
    font-size:1.5vw;
}

.links:hover{
    color:lightgray;
}
#welcome-section{
    position:relative;
    top:7%;
    
    margin-bottom:3vw;
    /* width:100vw;
    height:100vh; */
    display:flex;
    flex-direction: column;
    align-items: center;
   

}

.devpic{
    margin-top:10%;
    width:20%;
    height: auto;
}

.devinfo{
    width:55vw;
    margin:2% auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    font-size:1.5vw;

}
.devbold{
font-family: 'Source Code Pro', monospace;
font-size:2vw;
font-weight:800;}


#projects{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:4vw 4vw;
}


.projectheading{
    
    text-align: center;
    margin-bottom:4vw;
    text-decoration: underline;
    font-size: 2.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
ol{
list-style-type:square;    
}

.note{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:1.5vw;


}


ol > li{
 
    margin:4vw auto; 
    font-weight: 300;
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol > li > a {
    text-decoration: none;
    color:black;
    font-size:1.5vw;
    font-weight:400;
    font-family: 'Source Code Pro', monospace;
}

#contactme{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100vw;
    height:15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}



.icons{
    width:50%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1vw;
}

i{
    
   color:white;
   font-size:120%;
   
}

i:hover{
    color: grey;
}


.headingcontact{
    font-size:1vw;
}







